<%= stylesheet_link_tag('base/typography') %>

<%= form_with(model: @post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div>
    <%= form.label :title, "Title:", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :resume, "Resumo" %>
    <%= form.text_area :resume %>
  </div>

  <div >
    <%= form.label :body, "Body:", style: "display: block"%>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :tag_list, "Tags (separadas por vírgulas)" %>
    <%= form.text_field :tag_list %>
  </div>
  
  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>