<%= stylesheet_link_tag('layout/posts_layouts') %>

<%= link_to post_path(post) do %>
  <% if controller.action_name == 'show' %>
    <div id="<%= dom_id post %>" class="post-show">
  <% else %>
    <div id="<%= dom_id post %>" class="post-content">
  <% end %>

    <h3><%= post.title %></h3>

    <div class="date-container">
      <p>
        <%= post.created_at.strftime('%d/%m/%Y') %>
      </p>
    </div>

    <div class="resume-container">
      <p>
        <%= post.resume %>
      </p>
    </div>

    <% if controller.action_name == 'show' %>
      <div class="body-container">
        <p>
          <%= post.body %>
        </p>
      </div>
    <% end %>

    <div class="tags-container">
      <% post.tags.each do |tag| %>
        <div class="tag">
          <%= tag.name %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>





