<%= stylesheet_link_tag('index') %>
<%= stylesheet_link_tag('base/typography') %>
<p style="color: rgb(0, 0, 0)"><%= notice %></p>

<div class="container">
  <h2>Feed</h2>

  <div id="posts" class="posts-container">
    <% @posts.each do |post| %>
      <%= render post %>
      
    <% end %>
  </div>

  <%= link_to "New post", new_post_path %>
</div>