<%= stylesheet_link_tag('layout/show_layout') %>


<div class="container-show">



  <p style="color: green"><%= notice %></p>

  <%= render @post %>



  <div>
    <% if current_user && current_user.admin? %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= button_to "Destroy this post", @post, method: :delete %>
    <% else %>

    <% end %>
    

  </div>

  <div class="container-comments custom-style">
    <%= render 'comments/form', post: @post%>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', post: @post, comment: comment %>
    <% end %>
  </div>





</div>